<div class="container">

<div class="card-panel-thin orange lighten-1" height=60px><h4 class="white-text">&nbsp&nbsp Frequently Asked Questions </h4></div>
<ul class="collapsible" data-collapsible="accordion">
	<li>
		<div class="collapsible-header">#1 - What is this site? What can I do with it?</div>
		<div class="collapsible-body" align="center">
			Artlantis is an online <b>community</b> for artists who are just starting out and need a helping hand in setting up their own artshop. We provide an easy, clean interface for you to showcase your portfolio and marketize your abilities as an artist, and we guide you through the whole process!	
		</div>
	</li>	
	<li>
		<div class="collapsible-header">#2 - Is there a fee per transaction?</div>
		<div class="collapsible-body" align="center">
			At Artlantis we understand how hard it is to make it as an artist, so we provide you with the option to <b>choose <i>how</i></b> you're going to be selling your art. So you can sell your art through a secure transaction, or normal (off-site) transaction. The secure transaction option we provide <s>has</s> a fee, but if you want to go with the off-site system for commissioning, you can do so and we will not hold a grudge against you ;) 
		</div>
	</li>
	<li>
		<div class="collapsible-header">#3 - What is a secure transaction?</div>
		<div class="collapsible-body" align="center">
			A secure transaction means that the request will
			be handled through the site. We will give you an ID so you can check on the progress
			of your commission, and we'll withhold the payment to the artist until you've indicated
			that it's completed. Should anything happen, we will reimburse you. There's a transaction fee of 8%. 
		</div>
	</li>		
	<li>
		<div class="collapsible-header">#4 - What is an off-site transaction?</div>
		<div class="collapsible-body" align="center">
			An off-site transaction is a transaction that is completely handled by both the client and the artist, and artlantis takes no part in it. We just email you to tell you there's a client interested in commissioning you, so you can take over from there. We provide no support in case anything goes wrong. 
		</div>
	</li>	
</ul>
<div align="right" class="grey-text">
Is there anything we left out? Why don't you <b>contact</b> us?
</div>
</div>