	<div class="container max-width">
	<div class="section">
		<div class="row">
			<div class ="col s12 m3"><%= image_tag "logo_mascot.png", class:"responsive-img" %></div>
			<div class ="col s12 m9">
				<h4>How it works</h4>
				<p>   <h5><i class="medium material-icons">perm_identity</i> You <b>register</b></h5> 
					<h5><i class="medium material-icons">shopping_basket</i> You set up your <b>art shop</b></h5> 
					<h5><i class="medium material-icons">supervisor_account</i> We <b>help you</b> with the details</h5> Our team of experts is ready to guide you through the process of owning your own art business! We'll guide you from the first steps - from setting up your own bank account to legal advice regarding copyright and licensing.
					<h5><i class="medium material-icons">work</i> Your clients start <b>commissioning</b> you</h5> 
					We know how hard it is for both artists and commissioners to avoid being scammed, and we're looking to provide a good solution for both. But we know how hard it is to make it as an artist, so we've come up with two options for you:<br><br>
					<i class="tiny material-icons">grade</i>If both you and your client are OK with it, they can commission you through the site by simply making a request, which will then be emailed to you. We will provide no on-site support for the transaction, which will have to be handled by both you and your client.<br><br>
					<i class="tiny material-icons">grade</i>We also offer a <b>secure transaction</b> option. The process is very simple. Every time a potential client decides to commission you, they will request it through the page. Your client will receive a special secret identification number the moment they confirm the commission request. You will be emailed for confirmation. Once you approve the request, they will be asked to pay for the commission. You will not receive the money until the client has not confirmed it has received the commission. Should anything happen, both you and your client will be able to raise a complaint and we'll personally resolve the issue. For each transaction, <b>we'll charge an 8% fee</b>, which will be deducted from the money you'll be receiving (not including Paypal transaction fees). This secure transaction can be requested by both you and the clients.<br>
					
				</p>
			</div>
		</div>
		<div class="row" align="center">
		
					<h5><%= link_to :controller=>"static_pages", :action => "tour" do %>
							Ready for this? Take the <b>tour!</b>
						<% end %>
					</h5>
		</div>
	</div>
	</div>
