<div class="container small">
<br>
<h4>Terms</h4>
By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this web site are protected by applicable copyright and trade mark law.
<br><br>
<div class="divider"></div>

<h4>Use License</h4>
<ol>
<li>Permission is granted to temporarily download one copy of the materials (information or software) on artlantis.com's web site for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
<ol>
	<li>modify or copy the materials;</li>
	<li>Use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
	<li>attempt to decompile or reverse engineer any software contained on artlantis.com's web site;</li>
	<li>remove any copyright or other proprietary notations from the materials; or</li>
	<li>transfer the materials to another person or "mirror" the materials on any other server.</li>
</ol>
</li>
<li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by artlantis.com at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
<li>By using this site, you agree that you will not use the site's posting or Private Message functionality for business transactions that do not utilize the site's financial transfer functionality, nor will you circumvent the site commission collection system by any means.</li>

<br><br>
<div class="divider"></div>

<h4>Individual Features and Services</h4><br>
When using Artlantis, you will be subject to any additional rules or guidelines, whether already stated in the Rules and Guidelines or in the form of announcements. These new guidelines are to be followed as the site-wide rules and guidelines are, and are also incorporated by reference in these Terms.

<br><br>
<div class="divider"></div>
<h4>Modification of these Terms</h4>
<br>
Artlantis reserves the right, at our discretion, to change, modify, add, or remove portions of these Terms at any time, with or without posting a notice in the announcements. Please check these Terms and any Rules and Guidelines periodically for changes. Your continued use of Artlantis after the posting of changes constitutes your binding acceptance of such changes.
<br><br>
<div class="divider"></div>

<h4>Disallowed Conduct</h4><br>
By using Artlantis, you agree to not:
<ol>
<li>Stalk, threaten or harass any user, whether it be on or offsite.</li>
<li>Send, post, or make available any threatening, embarrassing, hateful, racially or ethnically insulting, deceptive, tortious, defamatory, libelous, or otherwise inappropriate or offensive content to other members of Artlantis</li>
<li>Impersonate another user, entity, or Artlantis Staff</li>
<li>Misrepresent the source, content, or identity of any information posted to Artlantis, including, but not limited to, original author, artist, or copyright holder.</li>
<li>Use, or cause/encourage any other to use Artlantis for any illegal/unethical purpose.</li>
<li>Interfere with the staff</li>
<li>Exploit site code for malicious purposes, including, but not limited to, that which is described in these Terms, and in other Rules and Guidelines published on the site.</li>
<li>Purposely interfere with any Moderator, Admin, or Developer's work, or any user's enjoyment of Artlantis.</li>
<li>Discuss, promote, or depict any form of child sexuality, abuse, exploitation, or anything of the sort that can be used to harm or threaten the security of a minor.</li>
<li>Post or distribute anything that contains viruses, or malicious code.</li>
<li>Engage in anything else that is prohibited in the Rules and Guidelines, including site Guidelines that are included into the Guidelines by reference.</li>
</ol>
<br><br>
<div class="divider"></div>

<h4>Eligibility and Account Information</h4><br>
Artlantis is not available to persons under the age of 13 or to any Members suspended or removed from Artlantis by The Staff. You agree that the information you provide to Artlantis during Member registration and at all other times will be true, accurate, current and complete. You also agree that you will ensure that this information is kept accurate and up-to-date at all times. The Staff may, in its sole discretion, refuse to offer Artlantis to any person or entity. The Staff may change its eligibility criteria at any time. This provision is void where prohibited by law and the right to access Artlantis is revoked in such jurisdictions.
<br><br>
<div class="divider"></div>

<h4>Violations and Termination</h4>
<br>
You agree that Artlantis, in its sole discretion and for any or no reason, may terminate any account (or any part thereof) you may have with Artlantis or your use of Artlantis and remove and discard all or any part of your account. Any fees paid hereunder are non-refundable. Artlantis may also in its sole discretion and at any time discontinue providing access to Artlantis, or any part thereof, with or without notice. You agree that any termination of your access to Artlantis or any account you may have or portion thereof may be effected without prior notice, and you agree that Artlantis shall not be liable to you or any third party for any such termination.


<br><br>
<div class="divider"></div>
<h4>Disclaimers; No Warranties</h4>
<br>
The materials on artlantis.com's web site are provided "as is". artlantis.com makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, artlantis.com does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.<br><br>

You acknowledge that Artlantis has no control over, and no duty to take any action regarding: which users gain access to Artlantis; what Materials you access via Artlantis; what effects such Materials may have on you; how you may interpret or use such Materials; or what actions you may take as a result of having been exposed to such Materials. Artlantis may contain links to websites containing information that some people may find offensive or inappropriate. You release Artlantis from all liability for you having acquired or not acquired Materials through the Website.

<br><br>
<div class="divider"></div>

<h4>Limitations</h4><br>
In no event shall artlantis.com or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on artlantis.com's Internet site, even if artlantis.com or a artlantis.com authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.

<br><br>
<div class="divider"></div>
<h4>Revisions and Errata</h4><br>
The materials appearing on artlantis.com's web site could include technical, typographical, or photographic errors. artlantis.com does not warrant that any of the materials on its web site are accurate, complete, or current. artlantis.com may make changes to the materials contained on its web site at any time without notice. artlantis.com does not, however, make any commitment to update the materials.
<br><br>
<div class="divider"></div>

<h4>Links</h4><br>
artlantis.com has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by artlantis.com of the site. Use of any such linked web site is at the user's own risk.
<br><br>
<div class="divider"></div>
<h4>Governing Law</h4><br>
Any claim relating to artlantis.com's web site shall be governed by the laws of the Argentina without regard to its conflict of law provisions.<br>

General Terms and Conditions applicable to Use of a Web Site.

</div>