<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
  		<%= image_tag @user.avatar.url(:small) %>
        <%= @user.name %>
      </h1>
      <% if @user.paints.count == 0 %>
        <div>
          <p>You hasn't uploaded any painting yet. Would you like to upload one?<%= link_to "Start here!", new_user_paint_url(@user) %></p>
        </div>
      <% else %>
        <h2>See my art gallery!!</h2>
          <% @user.paints.each do |paint| %>
          	<%= render paint %>
          <% end %>
      <% end %>
    </section>
  </aside>
</div>