<!-- BEGIN CONTENT -->
	<div class="container">
	<div class="section">
		<div class="row" >
			<div class ="col s12 m4"><%= image_tag "logo_mascot.png", class:"responsive-img" %></div>
			<div class ="col s12 m6">
				<div class="card  lime darken-2">
					<div class="card-content white-text big">
						<span class="card-title">Start <i>selling</i> your art!</span>
							<p>Ever wondered how to make a living out of what you love doing the most? <br><br>
							   <i>Wonder no more!</i> <br><br>
							   Artlantis provides both a place for you to set up your own
							   art shop and learn how to navigate through the tempestuous waters of
							   the art business world. It's easy, it's quick, and it provides you with a safe
							   marketplace where you can safely reach out and attend to your customers.</p>
					</div>
					<div class="card-action right">
						<a class="white-text" href="tour.html">Take a tour</a>
						<a class="modal-trigger white-text" href="#signup">Get started!</a>
					</div>
				</div>
			</div>
			<div class="col s12 m2">
				<div class="row">
					<h6>Popular <b>commissions</b></h6>
					<div class="col s6"><a href="#p1" class="modal-trigger"><img src="img/s3.jpg"  width=100 height=100 class="responsive-img"></a></div>
					<div class="col s6"><a href="#p2" class="modal-trigger"><img src="img/s4.jpg"  width=100 height=100  class="responsive-img"></a></div>
				</div>						
				<div class="row">
					<div class="col s6"><a href="#p3" class="modal-trigger"><img src="img/p1.jpg" width=100 height=100  class="responsive-img"></a></div>
					<div class="col s6"><a href="#p4" class="modal-trigger"><img src="img/p2.jpg" width=100 height=100  class="responsive-img"></a></div>
				</div>		
				<div class="row">
				<h6>Featured <b>Artists</b></h6>
				<div class="col s6"><a href="sample_portfolio.html"><img src="img/s1.jpg"  class="responsive-img circle"></a></div>
				<div class="col s6"><a href="sample_portfolio.html"><img src="img/s1.jpg"  class="responsive-img circle"></a></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
