/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@import url(https://fonts.googleapis.com/css?family=Oswald);

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shadow-text {
    text-shadow: 
    1px 1px 0 rgba(227,218,219,1),
    3px 3px 0 rgba(227,218,219,0.9),
    5px 5px 0 rgba(227,218,219,0.8),
    7px 7px 0 rgba(227,218,219,0.7),
    9px 9px 0 rgba(227,218,219,0.6),
    11px 11px 0 rgba(227,218,219,0.5),
    13px 13px 0 rgba(227,218,219,0.4),
    15px 15px 0 rgba(227,218,219,0.3),
    17px 17px 0 rgba(227,218,219,0.2),
    19px 19px 0 rgba(227,218,219,0.1),
    21px 21px 0 rgba(227,218,219,0.08),
    22px 22px 0 rgba(227,218,219,0.07),
    23px 23px 0 rgba(227,218,219,0.06),
    25px 25px 0 rgba(227,218,219,0.04),
    27px 27px 0 rgba(227,218,219,0.02),
    28px 28px 0 rgba(227,218,219,0.01),
    29px 29px 0 rgba(227,218,219,0.0);
}
.shadow-box {
  box-shadow:
  1px 1px 0 0 rgba(212,206,200,1),
  2px 2px 0 0 rgba(212,206,200,1),
  3px 3px 0 0 rgba(212,206,200,0.9),
  4px 4px 0 0 rgba(212,206,200,0.9),
  5px 5px 0 0 rgba(212,206,200,0.8),
  6px 6px 0 0 rgba(212,206,200,0.8),
  7px 7px 0 0 rgba(212,206,200,0.7),
  8px 8px 0 0 rgba(212,206,200,0.7),
  9px 9px 0 0 rgba(212,206,200,0.6),
  11px 11px 0 0 rgba(212,206,200,0.5),
  13px 13px 0 0 rgba(212,206,200,0.4),
  15px 15px 0 0 rgba(212,206,200,0.3),
  17px 17px 0 0 rgba(212,206,200,0.2),
  19px 19px 0 0 rgba(212,206,200,0.1),
  21px 21px 0 0 rgba(212,206,200,0.09),
  23px 23px 0 0 rgba(212,206,200,0.07),
  25px 25px 0 0 rgba(212,206,200,0.05),
  23px 23px 0 0 rgba(212,206,200,0.05),
  25px 25px 0 0 rgba(212,206,200,0.05),
  27px 27px 0 0 rgba(212,206,200,0.05),
  29px 29px 0 0 rgba(212,206,200,0.05),
  31px 31px 0 0 rgba(212,206,200,0.05),
  33px 33px 0 0 rgba(212,206,200,0.05),
  35px 35px 0 0 rgba(212,206,200,0.05),
  37px 37px 0 0 rgba(212,206,200,0.05),
  39px 39px 0 0 rgba(212,206,200,0.05),
  41px 41px 0 0 rgba(212,206,200,0.05),
  43px 43px 0 0 rgba(212,206,200,0.05),
  45px 45px 0 0 rgba(212,206,200,0.05),
  47px 47px 0 0 rgba(212,206,200,0.05),
  49px 49px 0 0 rgba(212,206,200,0.05),
  51px 51px 0 0 rgba(212,206,200,0.05),
  53px 53px 0 0 rgba(212,206,200,0.05),    
  39px 39px 0 0 rgba(212,206,200,0.05);
}

body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.bg1 {
    min-height: 100vh;
}

#fade-1 {
    opacity: 0;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
  main {
    flex: 1 0 auto;
  }
footer.page-footer {
  margin: 0;
}

.avant-g1 {
    /*
    font-size: 10vw;
    */
    font-family: monospace;
    letter-spacing: -0.6rem;
    font-size: 12rem;
    line-height: 75%;
}

.avant-g4 {
    letter-spacing: -0.2rem;
    font-size: 2.8rem;
    line-height: 85%;
}

.avant-s {
    font-size: 1.2rem;
    line-height: 95%;
}

.avant-p-u {
    font-size: 0.95rem;
    line-height: 110%;
}

.container.max-width {
    max-width: 800px;
}


.card .card-content{
}
.card .card-content .card-title {
    line-height: 60%;
    font-weight: bold;
}
.card .card-content p a,.card .card-content p  {
    padding-bottom:12px;
    line-height: 120%;
}
.card .card-content p a {
    color:#00B8D4;
}
.card .card-content p.description {
}

.border-bottom {
    border-bottom:1px solid rgba(0,0,0,.17);
}
/**************************/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}