<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Artlantis MVP work in progress</title>
  <link rel="icon" type="image/png" href="favico.png">
    
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body onload="Materialize.fadeInImage('#fade-1')" class="white noselect">
<header>
	<!-- NAV BAR -->
	<nav>
		<div class="nav-wrapper">
		<a href="index.html" class="brand-logo"><img src="logo.png"  class="responsive-img"></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li class="active"><a class ="modal-trigger  white-text" href="#signup">MAKE YOUR OWN ARTSHOP</a></li>
			<li><a href="browse.html">BROWSE</a></li>
			<li><a href="howitworks.html">HOW IT WORKS</a></li>
			<li><a class="modal-trigger" href="#signin">Sign in</a></li>
		</ul>
		</div>
	</nav>
	<!-- FIN NAV BAR -->
</header>
<main>
	<!-- BEGIN CONTENT -->
	<div class="container max-width">
	<div class="section">
		
		<div class="row">
			<div class ="col s12 m4">
			<a class="modal-trigger" href="#s1">
				<div class="card small">
					<div class="card-image"><img src="img/s1.jpg"></div>
					<div class="card-content"><b>Traditional painting</b> by <i>BoticelliSandro122</i><br>$USD 200</div>
				</div>
			</a>
			</div>
			<div class ="col s12 m4">
			<a class="modal-trigger" href="#s2">
				<div class="card small">
					<div class="card-image"><img src="img/s2.jpg"></div>
					<div class="card-content"><b>Digital painting</b> by <i>BoticelliSandro122</i><br>$USD 12</div>
				</div>
			</a>
			</div>
			<div class ="col s12 m4">
			<a class="modal-trigger" href="#s3">
				<div class="card small">
					<div class="card-image"><img src="img/s3.jpg"></div>
					<div class="card-content"><b>Quick sketch</b> by <i>Quintecento233</i><br>$USD 34</div>
				</div>
			</a>
			</div>
		</div>
		<div class="row">
			<div class ="col s12 m4">			
			<a class="modal-trigger" href="#s4">
				<div class="card small">
					<div class="card-image"><img src="img/s4.jpg"></div>
					<div class="card-content"><b>Character design</b> by <i>my_caravaggio</i><br>$USD 45</div>
				</div>
			</a>
			</div>
			<div class ="col s12 m4">
			<a class="modal-trigger" href="#s5">
				<div class="card small">
					<div class="card-image"><img src="img/s5.jpg"></div>
					<div class="card-content"><b>Lineart</b> by <i>LeoDaVinci</i><br>$USD 22</div>
				</div>
			</a>
			</div>
			<div class ="col s12 m4">
			<a class="modal-trigger" href="#s6">
				<div class="card small">
					<div class="card-image"><img src="img/s6.jpg"></div>
					<div class="card-content"><b>Traditional painting</b> by <i>gauguinmyfriend</i><br>$USD 12</div>
				</div>
			</a>
			</div>
		</div>
	</div>
	</div>
	<div class="container max-width" >
	<div class="section">
		<div class="row" align="center">
				 <ul class="pagination">
					<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
					<li class="active"><a href="#!">1</a></li>
					<li class="waves-effect"><a href="#!">2</a></li>
					<li class="waves-effect"><a href="#!">3</a></li>
					<li class="waves-effect"><a href="#!">4</a></li>
					<li class="waves-effect"><a href="#!">5</a></li>
					<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
				</ul>
		</div>
	</div>
	</div>

            
	
	<!-- BEGIN MODAL SCREENS -->
		<div id="commissionme" class="modal modal-art">
		<div class="modal-content">
			<div class="input-field"><input placeholder="Your name" id="Name" type="text" class="validate"></div>
			<div class="input-field"><input placeholder="Your email address" id="email" type="text" class="validate"></div>
			<div class="input-field">
				<textarea id="text" class="materialize-textarea"></textarea>
				<label for="textarea1">A description of your commission request. Don't leave out any details!</label>
			</div>
			 <input type="checkbox" class="filled-in" id="securetrans" checked="checked" />
			<label for="securetrans">Make this a <b>secure transaction</b></label> 
			<a class="modal-trigger" href="#explain">What's this?</a>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>
	
	<div id="explain" class="modal">
		<div class="modal-content" align="center">
			A secure transaction means that the request will
			be handled through the site. We will give you an ID so you can check on the progress
			of your commission, and we'll withhold the payment to the artist until you've indicated
			that it's completed. Should anything happen, we will reimburse you. There's a transaction fee of 8%. 
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
	
	<div id="s1" class="modal modal-art">
		<div class="modal-content">
			<center><img src="img/s1.jpg" class="responsive-artwork"><br></center>
			<b>Traditional painting</b> by <i>BoticelliSandro122</i><br>$USD 200<br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#commissionme" class="modal-trigger modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>
	
	<div id="s2" class="modal modal-art">
		<div class="modal-content">
			<center><img src="img/s2.jpg" class="responsive-artwork"><br></center>
			<b>Digital painting</b> by <i>BoticelliSandro122</i><br>$USD 12<br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#commissionme" class="modal-trigger modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>

	<div id="s3" class="modal modal-art">
		<div class="modal-content">
			<center><img src="img/s3.jpg" class="responsive-artwork"><br></center>
			<b>Quick sketch</b> by <i>Quintecento233</i><br>$USD 34<br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#commissionme" class="modal-trigger modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>

	<div id="s4" class="modal modal-art">
		<div class="modal-content">
			<center><img src="img/s4.jpg" class="responsive-artwork"><br></center>
			<b>Character design</b> by <i>my_caravaggio</i><br>$USD 45<br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#commissionme" class="modal-trigger modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>

	<div id="s5" class="modal modal-art">
		<div class="modal-content">
			<center><img src="img/s5.jpg" class="responsive-artwork"><br></center>
			<b>Lineart</b> by <i>LeoDaVinci</i><br>$USD 22<br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#commissionme" class="modal-trigger modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>

	<div id="s6" class="modal modal-art">
		<div class="modal-content">
			<center><img src="img/s6.jpg" class="responsive-artwork"><br></center>
			<b>Traditional painting</b> by <i>gauguinmyfriend</i><br>$USD 12<br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#commissionme" class="modal-action modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>

	
	
	
		<div id="signup" class="modal">
		<div class="modal-content">
			<div class="input-field">
				<input placeholder="YOUR USERNAME" id="username" type="text" class="validate"></div>
			<div class="input-field"><input placeholder="YOUR EMAIL" id="email" type="text" class="validate"></div>
			<div class="input-field"><input placeholder="YOUR PASSWORD" id="password" type="text" class="validate"></div>
		</div>
		<div class="modal-footer">
			<a href="#signed" class="modal-trigger modal-close waves-effect waves-green btn-flat">Sign me up!</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	<div id="signed" class="modal">
		<div class="modal-content">
			<p>Thank you for registering! <br> Sign in so you can start building your own artshop ;)</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
	
	<div id="signin" class="modal">
		<div class="modal-content">
			<div class="input-field">
				<input placeholder="USERNAME" id="username" type="text" class="validate">
			</div>
			<div class="input-field"><input placeholder="PASSWORD" id="password" type="text" class="validate"></div>
		</div>
		<div class="modal-footer">
			<a href="index_signedin.html" class="modal-action modal-close waves-effect waves-green btn-flat">SIGN IN</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	
	<div id="contact" class="modal">
		<div class="modal-content">
			<div class="input-field">
				<input placeholder="Your name" id="Name" type="text" class="validate">
			</div>
			<div class="input-field"><input placeholder="An email address we can reply to" id="email" type="text" class="validate"></div>
			<div class="input-field">
				<textarea id="text" class="materialize-textarea"></textarea>
				<label for="textarea1">What can we help you with?</label>
        </div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Send</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	
	<!-- END MODAL SCREENS -->
</main>
<footer>
	<!-- BEGIN FOOTER -->
	<footer class="page-footer">
		<div class="container">
			<div class="row">
              <div class="col l4 offset-l2 s12">
				<ul>
                  <li><a class="grey-text text-lighten-3" href="about.html">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="privacy.html">Privacy</a></li>
                  <li><a class="grey-text text-lighten-3" href="terms.html">Terms</a></li>
                  <li><a class="grey-text text-lighten-3" href="faq.html">FAQ</a></li>
                </ul>
              </div>
			  <div class="col l4 offset-l2 s12">
				<ul>
                  <li><a class="grey-text text-lighten-3 modal-trigger" href="#contact">Contact us</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://artlantis.tumblr.com">Our Blog</a></li>
                </ul>
              </div>
			</div>
		</div>
		<div class="footer-copyright center">© 2015 Artlantis</div>
	</footer>
	<!-- END FOOTER -->
</footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
	<script>
	$(document).ready(function() {
	$('.modal-trigger').leanModal();
	});
	</script>
  </body>
</html>
