<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Artlantis MVP work in progress</title>
  <link rel="icon" type="image/png" href="favico.png">
    
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body onload="Materialize.fadeInImage('#fade-1')" class="white noselect">
<header>
	<!-- NAV BAR -->
	<nav>
		<div class="nav-wrapper">
		<a href="index.html" class="brand-logo"><img src="logo.png"  class="responsive-img"></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li class="active"><a class ="modal-trigger white-text" href="#signup">MAKE YOUR OWN ARTSHOP</a></li>
			<li><a href="browse.html">BROWSE</a></li>
			<li><a href="howitworks.html">HOW IT WORKS</a></li>
			<li><a class="modal-trigger" href="#signin">Sign in</a></li>
		</ul>
		</div>
	</nav>
	<!-- FIN NAV BAR -->
</header>
<main>
	<!-- BEGIN CONTENT -->
	<div class="container">
	<div class="section">
		<div class="row" >
			<div class ="col s12 m4"><img src="logo_mascot.png"  class="responsive-img"></div>
			<div class ="col s12 m6">
				<div class="card  lime darken-2">
					<div class="card-content white-text big">
						<span class="card-title">Start <i>selling</i> your art!</span>
							<p>Ever wondered how to make a living out of what you love doing the most? <br><br>
							   <i>Wonder no more!</i> <br><br>
							   Artlantis provides both a place for you to set up your own
							   art shop and learn how to navigate through the tempestuous waters of
							   the art business world. It's easy, it's quick, and it provides you with a safe
							   marketplace where you can safely reach out and attend to your customers.</p>
					</div>
					<div class="card-action right">
						<a class="white-text" href="tour.html">Take a tour</a>
						<a class="modal-trigger white-text" href="#signup">Get started!</a>
					</div>
				</div>
			</div>
			<div class="col s12 m2">
				<div class="row">
					<h6>Popular <b>commissions</b></h6>
					<div class="col s6"><a href="#p1" class="modal-trigger"><img src="img/s3.jpg"  width=100 height=100 class="responsive-img"></a></div>
					<div class="col s6"><a href="#p2" class="modal-trigger"><img src="img/s4.jpg"  width=100 height=100  class="responsive-img"></a></div>
				</div>						
				<div class="row">
					<div class="col s6"><a href="#p3" class="modal-trigger"><img src="img/p1.jpg" width=100 height=100  class="responsive-img"></a></div>
					<div class="col s6"><a href="#p4" class="modal-trigger"><img src="img/p2.jpg" width=100 height=100  class="responsive-img"></a></div>
				</div>		
				<div class="row">
				<h6>Featured <b>Artists</b></h6>
				<div class="col s6"><a href="sample_portfolio.html"><img src="img/s1.jpg"  class="responsive-img circle"></a></div>
				<div class="col s6"><a href="sample_portfolio.html"><img src="img/s1.jpg"  class="responsive-img circle"></a></div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	<div id="p1" class="modal modal-art">
		<div class="modal-content">
			<center><img src="img/p1.jpg" class="responsive-artwork"><br></center>
			<b>Traditional painting</b> by <i>BoticelliSandro122</i><br>$USD 200<br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#commissionme" class="modal-trigger modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>
	
	<div id="p2" class="modal modal-art">
		<div class="modal-content">
			<center><img src="img/p2.jpg" class="responsive-artwork"><br></center>
			<b>Traditional painting</b> by <i>BoticelliSandro122</i><br>$USD 200<br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#commissionme" class="modal-trigger modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>
	
	<div id="p3" class="modal modal-art">
		<div class="modal-content">
			<center><img src="img/p3.jpg" class="responsive-artwork"><br></center>
			<b>Traditional painting</b> by <i>BoticelliSandro122</i><br>$USD 200<br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#commissionme" class="modal-trigger modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>
	
	<div id="p4" class="modal modal-art">
		<div class="modal-content">
			<center><img src="img/p4.jpg" class="responsive-artwork"><br></center>
			<b>Traditional painting</b> by <i>BoticelliSandro122</i><br>$USD 200<br>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#commissionme" class="modal-trigger modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>
	
		<div id="commissionme" class="modal modal-art">
		<div class="modal-content">
			<div class="input-field"><input placeholder="Your name" id="Name" type="text" class="validate"></div>
			<div class="input-field"><input placeholder="Your email address" id="email" type="text" class="validate"></div>
			<div class="input-field">
				<textarea id="text" class="materialize-textarea"></textarea>
				<label for="textarea1">A description of your commission request. Don't leave out any details!</label>
			</div>
			 <input type="checkbox" class="filled-in" id="securetrans" checked="checked" />
			<label for="securetrans">Make this a <b>secure transaction</b></label> 
			<a class="modal-trigger" href="#explain">What's this?</a>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Commission</a>
		</div>
	</div>
	
	<div id="explain" class="modal">
		<div class="modal-content" align="center">
			A secure transaction means that the request will
			be handled through the site. We will give you an ID so you can check on the progress
			of your commission, and we'll withhold the payment to the artist until you've indicated
			that it's completed. Should anything happen, we will reimburse you. There's a transaction fee of 8%. 
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
	
		<!-- BEGIN MODAL SCREENS -->
	
	<div id="signup" class="modal">
		<div class="modal-content">
			<div class="input-field">
				<input placeholder="YOUR USERNAME" id="username" type="text" class="validate"></div>
			<div class="input-field"><input placeholder="YOUR EMAIL" id="email" type="text" class="validate"></div>
			<div class="input-field"><input placeholder="YOUR PASSWORD" id="password" type="text" class="validate"></div>
		</div>
		<div class="modal-footer">
			<a href="#signed" class="modal-trigger modal-close waves-effect waves-green btn-flat">Sign me up!</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	<div id="signed" class="modal">
		<div class="modal-content">
			<p>Thank you for registering! <br> Sign in so you can start building your own artshop ;)</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
	
	<div id="signin" class="modal">
		<div class="modal-content">
			<div class="input-field">
				<input placeholder="USERNAME" id="username" type="text" class="validate">
			</div>
			<div class="input-field"><input placeholder="PASSWORD" id="password" type="text" class="validate"></div>
		</div>
		<div class="modal-footer">
			<a href="index_signedin.html" class="modal-action modal-close waves-effect waves-green btn-flat">SIGN IN</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	
	<div id="contact" class="modal">
		<div class="modal-content">
			<div class="input-field">
				<input placeholder="Your name" id="Name" type="text" class="validate">
			</div>
			<div class="input-field"><input placeholder="An email address we can reply to" id="email" type="text" class="validate"></div>
			<div class="input-field">
				<textarea id="text" class="materialize-textarea"></textarea>
				<label for="textarea1">What can we help you with?</label>
        </div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Send</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	
	<!-- END MODAL SCREENS -->
</main>
<footer>
	<!-- BEGIN FOOTER -->
	<footer class="page-footer">
		<div class="container">
			<div class="row">
              <div class="col l4 offset-l2 s12">
				<ul>
                  <li><a class="grey-text text-lighten-3" href="about.html">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="privacy.html">Privacy</a></li>
                  <li><a class="grey-text text-lighten-3" href="terms.html">Terms</a></li>
                  <li><a class="grey-text text-lighten-3" href="faq.html">FAQ</a></li>
                </ul>
              </div>
			  <div class="col l4 offset-l2 s12">
				<ul>
                  <li><a class="grey-text text-lighten-3 modal-trigger" href="#contact">Contact us</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://artlantis.tumblr.com">Our Blog</a></li>
                </ul>
              </div>
			</div>
		</div>
		<div class="footer-copyright center">© 2015 Artlantis</div>
	</footer>
	<!-- END FOOTER -->
</footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
	<script>
	$(document).ready(function() {
	$('.modal-trigger').leanModal();
	});
	</script>
  </body>
</html>
