<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Artlantis MVP work in progress</title>
  <link rel="icon" type="image/png" href="favico.png">
    
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body onload="Materialize.fadeInImage('#fade-1')" class="white noselect">
<header>
	<!-- NAV BAR -->
	<nav>
		<div class="nav-wrapper">
		<a href="index.html" class="brand-logo"><img src="logo.png"  class="responsive-img"></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li class="active"><a class ="modal-trigger  white-text" href="#signup">MAKE YOUR OWN ARTSHOP</a></li>
			<li><a href="browse.html">BROWSE</a></li>
			<li><a href="howitworks.html">HOW IT WORKS</a></li>
			<li><a class="modal-trigger" href="#signin">Sign in</a></li>
		</ul>
		</div>
	</nav>
	<!-- FIN NAV BAR -->
 </header>
 <main>
	<!-- BEGIN CONTENT -->
	<div class="container">
	<div class="section">
		<div class="row">
		<h4>So, you want to start your own <b>art business</b>? </h4>
		<h5>Let us help you with...</h5><br>
		  <ul class="collapsible" data-collapsible="accordion">
			<li>
			  <div class="collapsible-header"><i class="material-icons">payment</i>Setting up a bank account</div>
			  <div class="collapsible-body"><p>1.	<b>You'll need to have valid identification </b> You will need your Social Security number.<br><br>
2.	<b>You'll need to have at least the minimum amount of money for opening account. </b> This can vary based on the bank and account you choose. For example, a basic Bank of America savings account requires a minimum deposit of $300.<br><br>
3.	<b>You’ll need to choose a bank!</b>  Choose the one that's best for you. Not all banks are the same, even when it comes to basic personal accounts. It can be very wise to contact the banks in your local area to discuss what exactly you'd get if you opened a basic account. While all banks are different, they can generally be lumped into two general categories: large chain banks and smaller local ones. <br>
a.	<i>Large chain banks:</i> Large banks usually have branches in most towns and cities across the country, which means you'll be able to get basically the same service no matter where you go. This wide coverage can help you avoid fees you'll have to pay for using other banks' services (like ATM fees, etc.) Large banks also usually have the resources to offer services like 24-hour help lines for their customers. In addition, these banks tend to have a stable, trusted reputation — they are unlikely to fail or present you with "surprise" difficulties.<br>
b.	<i>Smaller local banks:</i> Small banks offer a more personal, human experience. They tend to be friendlier than big banks in several ways — not only will they be willing to offer more personal, one-on-one attention, but they'll often be willing to "work with you" when something goes wrong (like you overdraft from your account). Smaller banks also usually charge smaller fees for using their services. On the other hand, smaller banks fail more frequently than large banks (this is still very rare, though).<br><br>
4.	<b>Pick the type of account you want.</b> Most of the time, one someone opens his or her first bank account, it is a regular checking or savings account (or both). Both of these types of accounts allow you to safely store your money with the bank and withdraw it when you need it. However, each type of account is best for different tasks:<br>
a.	<i>Checking:</i> A checking account is what most people use for day-to-day purchases. With a checking account, you'll get a checkbook and a debit card that you can use to pay for things with the money in your account. Money in a checking account doesn't change over time — if you want more money, you have to put it in yourself.<br>
b.	<i>Savings:</i> As its name suggests, a savings account is best for saving money long-term. Money in a savings account slowly gains interest — in other words, the bank will pay you a small amount for storing your money with it. The more money you have in the account and the longer you save it, the more interest you get. You can still withdraw money from a savings account at banks and ATM, but you can't generally use it for checks and debit card payments.If you have enough money to meet the minimum deposit for both, having both a checking and a savings account is usually best. You can use the checking account for your daily expenses and put extra money in your savings to make interest.<br><br>
5.	<b>Visit your bank and ask to open an account.</b> Opening an account in person is usually the best option for first-time account holders. One big advantage of opening an account in person is that you can ask the teller all of your questions and get immediate answers (as opposed to the waiting you'll have to do online or on the phone). Also, because you can sign the forms and receive your confirmation documents on the spot, the process of opening an account is also usually speedier in person.<br><br>
6.	<b>Ask important questions before you finalize your account.</b> Now is an excellent time to ask for clarification on any issues regarding your account that you don't understand. Below are a few suggestions for questions you may want to ask, but don't be afraid to ask any others that occur to you.<br>
a.	Is there a monthly fee for maintaining this account? If so, what is it?<br>
b.	Is there a minimum balance that I must keep within this account? If so, what is it? What sorts of fees apply if I go under that limit?<br>
c.	What is the interest rate of my savings account? How often does interest generate?<br>
d.	Is there a limit to the amount of transactions (deposits/withdrawals, check writing, ATM uses) I have per month?<br>
e.	Where can I withdraw cash without paying any fees? What is the fee for using an ATM that doesn't belong to this bank? <br><br>
7.	<b>Supply the necessary information to create your account.</b> As noted above, opening a checking account requires a few basic pieces of personal information. You may or may not have to provide documentation to prove this personal information. This depends on the exact bank you're opening an account with. In general, it's a good idea to have:<br>
a.	Proof that you are who you say you are: Have a government-issued ID with your photo on it with you (a driver's license or a passport are best).<br>
b.	Proof of address: A phone bill, driver's license, or any other official document with your name and address will usually do.<br>
c.	Proof you are a registered citizen: The bank will ask for your Social Security number, taxpayer identification number, or employer identification number to ensure that you are "on record" with the government. As long as you know this number, you don't generally need to have your Social Security card, etc. with you.<br><br>
8.	<b>Keep the account documents you receive secure. </b>When you finish completing your account, you will receive documents that contain important information about your account. Keep these in a safe place, like a strongbox. Don't let people you don't trust access these documents — they may be able to use them for malicious purposes. If you can, it's a wise idea to commit the following information to memory so that you don't need to rely on the documents in the future:<br>
a.	Your four-digit PIN number: You need this to use your debit card for purchases.<br>
b.	Your bank account number: You need this for financial tasks like setting up direct deposits<br>
c.	Your Social Security number: You need this for various tax and financial tasks in the future<br>
d.	If you believe your account information has fallen into the wrong hands, you can always contact your bank and request a "freeze" on your account to prevent unauthorized use.
</p></div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">shopping_cart</i>Using Paypal</div>
			  <div class="collapsible-body"><p>Visit Paypal.com and click on <b>“Create new Account”</b>. Follow the instructions to set up your merchant account. Once PayPal verifies your information, you are ready to accept credit card payments, by telephone, by mail or by fax, accept e-checks and e-mail payments. Creating a personal account allows you to link an e-mail to the Paypal service that can be used to accept money as well as pay money for items and services. Whenever one of your customers decides to commission you they will send the money to the e-mail you provided. The person paying you can use either their credit card or their bank account to send payment. After the transaction completes, you could then transfer the money from your Paypal account and into your checking or savings accounts.</p></div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">forum</i>Getting legal advice on the copyright of my works</div>
			  <div class="collapsible-body"><p>
			  1.	<b>Know what copyrights protect.</b> Copyright law protects any original creation, and grants the holder of the copyright exclusive control over when, how, and by whom their work may be copied, distributed, or exhibited. This includes literary works, paintings, photographs, drawings, films, music (and its lyrics), choreography, sculptures and many other creative works.<br><br>
			  2.	Copyright law generally <b>does not protect the underlying ideas</b> of a creative work, and it does not protect facts. For example, copyright doesn't prevent you from expressing in your own words ideas and facts found in a book or journal you read.If you express ideas and facts in your own words, you should always give appropriate credit to the sources in which you found them. It is common courtesy to do so, and not doing so could constitute a violation of the Copyright Act. What you have created may constitute a derivative work pursuant to the Copyright Act, unless you have obtained license or permission from the copyright holder to create the work. It may also constitute plagiarism under state common law. Paraphrasing other people's work may also constitute plagiarism under state common law, and may run afoul of misappropriation statutes.<br><br>
			  3.	<b>Don't confuse copyrights, trademarks, and other forms of "intellectual property."</b> The term "intellectual property" itself has led to these very different things being confused with each other. Trademarks, for example, forbid using certain words, marks, symbols, and so on within certain contexts to protect consumers from misrepresentation. Copyright would not prevent you from, for example, writing some new text editor software and calling it "Microsoft Text Editor", but trademark law would.<br><br>
				4.	<b>Learn about the public domain laws for your jurisdiction.</b> "Public domain" is short-hand for "uncopyrighted", not "publicly distributed". A work can be out of copyright due to age, by the nature of authorship, or other reasons. In the United States, all works authored by a federal government (not state government!) employee during the course of their official duties are public domain, as are all works published before 1923. Works first created in the European Union will usually be copyrighted until 70 years after the death of the author.<br><br>
				5.	<b>Infringement: In nearly all jurisdictions, including the United States, and all other Berne Convention signatories, it is not necessary for a work to have an explicit copyright notice for it to be copyrighted.</b> It is also not necessary for copyright in a work to be registered; this simply makes it easier to be compensated in court. Without an explicit dedication to the public domain, assume that it is still under copyright. There is a quirk in the United States' implementation of the Berne Convention: works first published before 1978 without a copyright notice may be public domain in the United States. Works published under copyright notice are no longer covered by copyright after 75 years. They become public domain material. Works published by the US Government are public domain no matter when they were published.<br><br>
				6.	If ever you wonder whether a certain action would infringe on the copyright of someone else, the question to ask is:<b> is this a creative work on my count, or am I simply drawing from the creativity of someone else?</b> Lunches, as any economist would tell you, are not free. <br><br>
				7.	<b>Don't rely on "fair use".</b> Called "fair dealing" in many jurisdictions, fair use is simply a guarantee that copyright laws do not infringe freedom of speech and make critical commentary impossible. Fair use is an extremely complex body of case law; it is often very difficult for non-lawyers to tell in advance whether or not a certain use will be considered fair use in court. If in doubt, seek permission first. It is not a blank cheque granting you a right to do anything at all and call it "fair use". Some uses of text under "fair use" are teaching, critiques, comments, reporting, and research. It permits, for example, limited quoting of copyrighted material. In some jurisdictions, it would allow creating a copy for personal use (such as a backup).<br><br>
				8.	<b>Be wary about writing fiction or drawing fanart based on other works.</b> It was said above that "ideas cannot be copyrighted". However, fictional characters, story-lines, and settings can be copyrighted (insofar as they are original). This means that fan-fiction, drawings of characters from copyrighted works, and so on are all technically copyright infringements. Sometimes copyright holders turn a blind eye to this sort of thing, but unless it has been explicitly authorised, don't count on this being the case. Stock Characters, on the other hand, can not be copyrighted or trademarked.<br><br>
</p></div>
			</li>
			<li>
			  <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Reaching out to customers </div>
			  <div class="collapsible-body"><p>1.	<b>Build a plan but keep an open mind.</b> Plan the how before actively start your search for customers. Follow your plan closely, but don't be afraid to make changes along the way as you learn more about what works and what doesn't work. Among other things, you'll need to sell yourself: you need to determine an advertising budget. Figure out how much you can afford to spend on marketing before you consider which forms of advertising to use. Once you determine how much you can spend, you'll need to figure out the best way to use that money to reach the maximum number of potential customers in your customer base.<br><br>
2.	<b>Diversify. </b>Don't invest too much time and money in a single aspect of your marketing plan. Instead of working on one major advertisement, a better option would be to create multiple smaller advertisements that range across a variety of marketing mediums. Using multiple forms of advertisement allows you to reach a greater number of people. For instance, someone who doesn't live in your area may not see an ad posted to a local bulletin board, but he or she might see one posted online. Additionally, when prospective customers hear about you from more than one source, they tend to become more curious and more likely to check into your business.<br><br>
3.	<b>Define your ideal customer..</b> Create a detailed image your mind of who your “ideal” customer would be. Ask yourself what type of person would be the most likely to purchase your product and support your company.Try to identify at least five characteristics of your customer base. Common attributes to consider include age, gender, marital status, number of children (if any), location, career field, and special interests.If you have current customers, think about a handful of your most loyal ones. Ask yourself which characteristics they share to help build your ideal customer profile.<br><br>
4.	<b>Ask yourself where your customers gather..</b> If you want to find your ideal customers, you'll need to reach them at physical and digital locations where they typically gather without your influence. Try to think of three to five places your customers may gather. For example, if your customer base consists mainly of single college students, you might find them on nearby campuses, in coffee shops, and in libraries. Brainstorm different ways to reach your ideal customer at these locations. Using the same example, you might consider posting a flier on a free community bulletin board at any of the locations you identified.<br><br>
5.	<b>Advertise online.</b> As society steadily continues to move further into the digital realm, online advertisements will become even more important than they already are. In particular, check into different advertisements you can make with the help of social media and professional ad services. If you haven't created a digital presence already, do so now. Websites, blogs, and social media accounts for your business all increase your visibility, making it easier for prospective customers to stumble across your business. Additionally, you can also create ads for your business online. Research opportunities like pay-per-click advertising, Google Adsense, and Facebook ads.
</p></div>
			</li>
			        <li>
			  <div class="collapsible-header"><i class="material-icons">perm_contact_calendar</i>I'd like to consult an expert</div>
			  <div class="collapsible-body"><p>We can set up a consulting session with an expert for a minimal fee (we know how expensive they are!) of 10USD the hour. After you make a request, we'll set up a meeting through one of our consulting chatrooms at a specified time. After you confirm the meeting, you'll be asked to pay the consulting fee. We'll email you the link to the chatroom then, where the expert will be there to assist you in any legal or business issue you might have.<br><br>
			  <a href="#sorry" class="btn modal-trigger">Sounds good</a>
			  </p></div>
			</li>
		  </ul>

		</div>
	</div>
	</div>
	
	
	<!-- BEGIN MODAL SCREENS -->
	<div id="sorry" class="modal">
		<div class="modal-content" align="center">
			We're sorry, at this moment this feature is not available. But don't worry, we'll email you when it is!
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
		<div id="signup" class="modal">
		<div class="modal-content">
			<div class="input-field">
				<input placeholder="YOUR USERNAME" id="username" type="text" class="validate"></div>
			<div class="input-field"><input placeholder="YOUR EMAIL" id="email" type="text" class="validate"></div>
			<div class="input-field"><input placeholder="YOUR PASSWORD" id="password" type="text" class="validate"></div>
		</div>
		<div class="modal-footer">
			<a href="#signed" class="modal-trigger modal-close waves-effect waves-green btn-flat">Sign me up!</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	<div id="signed" class="modal">
		<div class="modal-content">
			<p>Thank you for registering! <br> Sign in so you can start building your own artshop ;)</p>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
	
	<div id="signin" class="modal">
		<div class="modal-content">
			<div class="input-field">
				<input placeholder="USERNAME" id="username" type="text" class="validate">
			</div>
			<div class="input-field"><input placeholder="PASSWORD" id="password" type="text" class="validate"></div>
		</div>
		<div class="modal-footer">
			<a href="index_signedin.html" class="modal-action modal-close waves-effect waves-green btn-flat">SIGN IN</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	
	<div id="contact" class="modal">
		<div class="modal-content">
			<div class="input-field">
				<input placeholder="Your name" id="Name" type="text" class="validate">
			</div>
			<div class="input-field"><input placeholder="An email address we can reply to" id="email" type="text" class="validate"></div>
			<div class="input-field">
				<textarea id="text" class="materialize-textarea"></textarea>
				<label for="textarea1">What can we help you with?</label>
        </div>
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Send</a>
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
		</div>
	</div>
	<div id="explain" class="modal">
		<div class="modal-content" align="center">
			A secure transaction means that the request will
			be handled through the site. We will give you an ID so you can check on the progress
			of your commission, and we'll withhold the payment to the artist until you've indicated
			that it's completed. Should anything happen, we will reimburse you. There's a transaction fee of 8%. 
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
		</div>
	</div>
	
	<!-- END MODAL SCREENS -->
</main>
<footer>
	<!-- BEGIN FOOTER -->
	<footer class="page-footer">
		<div class="container">
			<div class="row">
              <div class="col l4 offset-l2 s12">
				<ul>
                  <li><a class="grey-text text-lighten-3" href="about.html">About Us</a></li>
                  <li><a class="grey-text text-lighten-3" href="privacy.html">Privacy</a></li>
                  <li><a class="grey-text text-lighten-3" href="terms.html">Terms</a></li>
                  <li><a class="grey-text text-lighten-3" href="faq.html">FAQ</a></li>
                </ul>
              </div>
			  <div class="col l4 offset-l2 s12">
				<ul>
                  <li><a class="grey-text text-lighten-3 modal-trigger" href="#contact">Contact us</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://artlantis.tumblr.com">Our Blog</a></li>
                </ul>
              </div>
			</div>
		</div>
		<div class="footer-copyright center">© 2015 Artlantis</div>
	</footer>
	<!-- END FOOTER -->
</footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
	<script>
	$(document).ready(function() {
	$('.modal-trigger').leanModal();
	});
	</script>
  </body>
</html>
